{% extends "layout.html" %}
{% block content %}
	<form method="POST" name="account">
		{{ form.hidden_tag() }}
		<h2>Account</h2>
		<p>
			Account page for {{ current_user.username }}
		</p>
		<p>
			Set Password:
			<br />
			{{ form.password( size=40, value=current_user.password )}}
		</p>
		<h2>Credentials</h2>
		<h3>Google</h3>
		{% if current_user.google_credentials %}
			<h4>Google credentials okay</h4>
		{% else %}
			<p>
				Google Account (email):
				<br />
				{{ form.google_id( size=40 )}}
			</p>
			<p>
				Google Password (generate an <a href="https://security.google.com/settings/security/apppasswords" target="_blank">app password</a>):
				<br />
				{{ form.google_password( size=40 )}}
			</p>
		{% endif %}
		<h3>Spotify</h3>
		{% if current_user.spotify_credentials %}
			<h4>Spotify connected okay</h4>
		{% else %}
			<p>
				<a href="/spotify/connect">Connect Spotify</a>
			</p>
		{% endif %}
		<p>
			<input type="submit" value="Update" />
		</p>
	</form>
	<hr />
	<p>
		<a href="/logout">Logout</a>
	</p>
{% endblock %}