{% extends "layout.html" %}
{% block content %}

<div class="row">
	<div class="col s12 l6 offset-l3">
		<h4>Login</h4>
	</div>
</div>

<form method="POST" name="login" class="login">
{{ form.hidden_tag() }}

<div class="row">
	<div class="input-field col s12 l6 offset-l3">
		{{ form.username( size=40 )}}
		{{ form.username.label }}
	</div>
</div>

<div class="row">
	<div class="input-field col s12 l6 offset-l3">
		{{ form.password( size=40 )}}
		{{ form.password.label }}
	</div>
</div>

<div class="row">
	<div class="input-field col s12 l6 offset-l3">
		<button class="login btn deep-orange lighten-2 waves-effect waves-light" type="submit">Login</button>
	</div>
</div>

<div class="row">
	<div class="col s12 l6 offset-l3">
		<div class="divider"></div>
	</div>
</div>

<div class="row">
	<div class="col s12 l6 offset-l3">
		<p>
			Not a member yet, creating an account is easy...
		</p>
		<div class="input-field">
			<a class="register btn deep-orange lighten-2 waves-effect waves-light" href="/account/create">Register Now</a>
		</div>
	</div>
</div>

</form>
{% endblock %}