{% extends "layout.html" %}
{% block content %}
<div class="row">
	<div class="col s6 offset-s3">
		<h5>Login</h5>
		<div class="divider"></div>
	</div>
</div>
<div class="row">
	<div class="col s6 offset-s3">
		<form method="POST" name="login">
			{{ form.hidden_tag() }}
			Username: {{ form.username( size=40 )}}
			<div class="seperator"></div>
			Password: {{ form.password( size=40 )}}
			<br />
			{{ form.remember_me }} Remember Me
			<div class="seperator"></div>

			<button class="btn waves-effect waves-light" type="submit">Login</button>
			<button href="/account/create" class="waves-effect waves-light btn">Create an Account</button>
		</form>
	</div>
</div>
{% endblock %}