<?xml version='1.0' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.6">
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.coravy.hudson.plugins.github.GithubProjectProperty plugin="github@1.21.1">
      <projectUrl>https://github.com/jumpinghooligans/gspotsyncer/</projectUrl>
      <displayName></displayName>
    </com.coravy.hudson.plugins.github.GithubProjectProperty>
    <org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
      <triggers>
        <com.cloudbees.jenkins.GitHubPushTrigger plugin="github@1.21.1">
          <spec></spec>
        </com.cloudbees.jenkins.GitHubPushTrigger>
      </triggers>
    </org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.17">
    <script>stage(&apos;Build&apos;) {
    build job: &apos;Build&apos;
}
stage(&apos;Pre-deploy Tests&apos;) {
    build job: &apos;Test&apos;
}
stage(&apos;Deploy&apos;) {
    build job: &apos;Deploy&apos;
}
stage(&apos;Post-deploy Tests&apos;) {
    build job: &apos;Test&apos;
}</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
</flow-definition>