html,body {
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

a {
	color: #ff6e40;
}

footer a {
	color: #ff8a65;
}

.login .btn {
	width: 100%;
}

.brand-logo > .gspot {
	font-weight: 500;
	/*font-variant: small-caps;*/
}

.brand-logo > .syncer {
	font-weight: 200;
	/*font-variant: small-caps;*/
	/*font-size: 0.5em;*/
}

.track-list .table-image {
	width: 75px;
	text-align: center;
}

@media only screen and (max-width: 992px) {
	.track-list .table-image {
		width: 250px;
		text-align: center;
	}

	.track-list tbody tr {
		width: 250px;
		white-space: normal;
	}
}