{% extends "layout.html" %}
{% block content %}
<div class="row">
	<div class="col s12">
		<h5>Create a Playlist Link</h5>
	</div>
</div>

<form method="POST" name="create">
{{ form.hidden_tag() }}

<div class="row">
	<div class="input-field col s12">
		{{ form.playlist_type() }}
		<label>Playlist Link Type</label>
	</div>
</div>

<div class="row">
	<div class="input-field col s12 l6">
		<div class="input-field">
			{{ form.spotify_playlist() }}
			{{ form.spotify_playlist.label }}
		</div>
		<div class="input-field">
			{{ form.public_spotify_playlist() }}
			{{ form.public_spotify_playlist.label }}
		</div>
	</div>

	<div class="input-field col s12 l6">
		<div class="input-field">
			{{ form.google_playlist() }}
			{{ form.google_playlist.label }}
		</div>
		<div class="input-field">
			{{ form.public_google_playlist() }}
			{{ form.public_google_playlist.label }}
		</div>
	</div>
</div>

<div class="row">
	<div class="input-field col s12">
		Master
		{{ form.master() }}
	</div>
</div>


<div class="row">
	<div class="input-field col s12">
		<button class="btn deep-orange lighten-2 waves-effect waves-light" type="submit">Create a Playlist</button>
	</div>
</div>

</form>
{% endblock %}