{% extends "layout.html" %}
{% block content %}
<div class="row">
	<div class="col s12">
		<h5>Playlists</h5>
	</div>
</div>

{% if playlists %}
{% for playlist in playlists %}

{% if loop.index % 2 == 1 %}
<div class="row">
{% endif %}

	<div class="col s12 m6">
		<div class="card">
			{% if playlist.random_album_art %}
			<div class="card-image">
				<img class="responsive-img" src="{{ playlist.random_album_art }}" />
			</div>
			{% endif %}
			<div class="card-content">
				<div class="row">
					<div class="col s12 l6">
						<strong class="grey-text">Spotify Playlist</strong>
						<br />
						{{ playlist.spotify_playlist_data.name }}
					</div>
					<div class="col s12 l6">
						<strong class="grey-text">Google Playlist</strong>
						<br />
						{{ playlist.google_playlist_data.name }}
					</div>
				</div>
				<div class="row">
					<div class="col s12">
						<p>
							<strong>master</strong> {{ playlist.master }}
						</p>
					</div>
				</div>
			</div>
			<div class="card-action">
				<a href="/playlists/{{ playlist._id }}">View</a>
				<a href="/playlists/{{ playlist._id }}/modify">Modify</a>
			</div>
		</div>
	</div>

{% if loop.index % 2 == 0 %}
</div>
{% endif %}

{% endfor %}

{% else %}
<div class="row">
	<div class="col s12">
		<p class="grey-text">
			<em>You don't seem to have any playlists yet...</em>
		</p>
	</div>
</div>
{% endif %}

<div class="row">
	<div class="col s12">
		<a href="/playlists/create" class="btn deep-orange lighten-2 right">Create a Playlist</a>
	</div>
</div>
{% endblock %}