{% extends "layout.html" %}
{% block content %}
<div class="row center-align">
	<div class="col s12 m6">
		<h6 class="grey-text text-lighten-1">Spotify Playlist</h6>
		<h5>{{ playlist.spotify_playlist_data.name }}</h5>
	</div>
	<div class="col s12 m6">
		<h6 class="grey-text text-lighten-1">Google Play Music Playlist</h6>
		<h5>{{ playlist.google_playlist_data.name }}</h5>
	</div>
</div>

{% if playlist.tracks %}
<div class="row">

	<div style="overflow: auto;">
		<table class="track-list">
			<thead>
				<tr>
					<th class="table-image"></th>
					<th>Title</th>
					<th>Artist</th>
					<th>Album</th>
					<th>Spotify</th>
					<th>Google</th>
				</tr>
			</thead>
			<tbody>
				{% for track in playlist.tracks %}
				<tr>
					<td class="table-image">
					{% if track.album.art %}
						<img class="responsive-img" src="{{ track.album.art }}" />
					{% else %}
						<i class="material-icons">library_music</i></td>
					{% endif %}
					<td>{{ track.title }}</td>
					<td>{{ track.artists[0].name }}</td>
					<td>{{ track.album.name }}</td>
					<td style="text-align:center"><i class="material-icons {{ 'green-text' if track.spotify_id else 'red-text' }}">{{ 'done' if track.spotify_id else 'error' }}</i></td>
					<td style="text-align:center"><i class="material-icons {{ 'green-text' if track.google_id else 'red-text' }}">{{ 'done' if track.google_id else 'error' }}</i></td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

</div>
{% endif %}

<div class="row">
	<div class="col s12 right-align">
		<a href="/playlists/{{ playlist._id }}/refresh" class="btn-flat waves-effect waves-light">Refresh</a>
		<a href="/playlists/{{ playlist._id }}/modify" class="btn deep-orange lighten-2 waves-effect waves-light">Modify and Publish</a>
	</div>
</div>

{% endblock %}