{% extends "layout.html" %}
{% block content %}

	<h4>what is <span class="deep-orange-text text-lighten-2">gspot</span>syncer?</h4>
	<p>
		gspotsyncer is a simple utility to sync a google music playlist and a spotify playlist together.  add a song to one, it shows up on the other and vice versa.
	</p>
	<ul>
		<li><a href="/account/create">Create</a> an account</li>
		<li><a href="/account">Attach</a> Google Music credentials</li>
		<li><a href="/spotify/connect">Authorize</a> Spotify</li>
		<li><a href="/playlists/create">Create</a> a playlist link</li>
	</ul>


{% endblock %}