<html>
	<head>
		<title>gspot syncer</title>
		<script>
			if (document.location.hostname.search('gspotsyncer.com') !== -1) {
				(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
				(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
				})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

				ga('create', 'UA-84869278-1', 'auto');
				ga('send', 'pageview');
			}
		</script>

		<!-- http://materializecss.com -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
		<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

		<link rel="stylesheet" type="text/css" href="/static/css/styles.css"></style>

		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	</head>
	<body>
		<header>
			<!-- Mobile Nav -->
			<ul id="nav-mobile" class="side-nav">
				<li>
					<div class="userView blue-grey">
						<h4 class="brand-logo">
							<span class="gspot deep-orange-text text-lighten-2">gspot</span><span class="syncer white-text">syncer</span>
						</h4>
					</div>
				</li>
			{% if current_user.is_authenticated %}
				<li><a href="/account"><i class="material-icons left">account_circle</i>my account</a></li>
				<li><a href="/playlists"><i class="material-icons left">queue_music</i>playlists</a></li>
			{% else %}
				<li><a href="/login"><i class="material-icons left">account_circle</i>login</a></li>
			{% endif %}
				<li><a href="/"><i class="material-icons left">info</i>about</a></li>
			</ul>

			<!-- Desktop Nav -->
			<nav class="blue-grey" role="navigation">
				<div class="nav-wrapper container">
					<a id="logo-container" href="/" class="brand-logo">
						<span class="gspot deep-orange-text text-lighten-2">gspot</span><span class="syncer">syncer</span>
					</a>

					<ul class="right hide-on-med-and-down">
					{% if current_user.is_authenticated %}
						<li><a href="/playlists"><i class="material-icons left">queue_music</i>playlists</a></li>
						<li><a href="/account"><i class="material-icons left">account_circle</i>my account</a></li>
					{% else %}
						<li><a href="/login"><i class="material-icons left">account_circle</i>login</a></li>
					{% endif %}
					</ul>

					<a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
				</div>
			</nav>

			{% if form and form.errors %}
				<div class="form-errors container">
					<div class="row">
						<div class="col s12 l10 offset-l1">
							<div class="card red darken-1">
								<div class="card-content white-text">
								{% for field_name, field_errors in form.errors|dictsort if field_errors %}
									{% for error in field_errors %}
										<p><strong>{{ form[field_name].name }}</strong> {{ error }}</p>
									{% endfor %}
								{% endfor %}
								</div>
							</div>
						</div>
					</div>
				</div>
			{% endif %}
		</header>

		<main>
			<div class="container">
				<div class="content">
					<br />
					{% block content %}{% endblock %}
				</div>
			</div>
		</main>

		<footer class="blue-grey page-footer">
			<div class="container">
				<div class="row">
					<div class="col l6 s12">
						<h5 class="white-text"><span class="deep-orange-text text-lighten-2">gspot</span>syncer takes zero responsibility</h5>
						<p class="grey-text text-lighten-4">The code is available <a href="https://github.com/jumpinghooligans/gspotsyncer">on github</a> and gspotsyncer takes no responsibility for any action taken by Google, Spotify ... or anyone really, it's just a stupid website</p>
					</div>
					<div class="col l4 offset-l2 s12">
						<ul class="right-align">
							<li><a class="grey-text text-lighten-4" href="/">Home</a></li>
							{% if current_user.is_authenticated %}
							<li><a class="grey-text text-lighten-4" href="/account">Account</a></li>
							<li><a class="grey-text text-lighten-4" href="/account/logout">Logout</a></li>
							{% else %}
							<li><a class="grey-text text-lighten-4" href="/account/login">Login</a></li>
							<li><a class="grey-text text-lighten-4" href="/account/create">Register</a></li>
							{% endif %}
						</ul>
					</div>
				</div>
			</div>
			<div class="footer-copyright">
				<div class="container">
					<div class="row">
						<div class="col s12">
							<div class="white-text">
								© 2016 Ryan Kortmann
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>

		<!-- 3rd Party Scripts -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
		<script type="text/javascript" src="/static/js/init.js"></script>
		<!-- Flash => Toast -->
		<script type="text/javascript">
			$(document).ready(function() {
			{% with messages = get_flashed_messages() %}
				{% if messages %}
					{% for message in messages %}
						Materialize.toast("{{ message }}", 5000);
					{% endfor %}
				{% endif %}
			{% endwith %}
			});
		</script>
	</body>
</html>
