<html>
	<head>
		<title>gspot syncer</title>
	</head>
	<body>
		<div>
			<h1>gspot syncer</h1>
			<a href="/">Home</a> | 
			<a href="/account">Account</a> | 
			<a href="/google">Google</a> |
			<a href="/google/search">Search Google</a> |
			<a href="/spotify">Spotify</a>
		</div>
		<hr>
		<div class="flash">
		{% with messages = get_flashed_messages() %}
			{% if messages %}
				<ul>
				{% for message in messages %}
					<li>{{ message }} </li>
				{% endfor %}
				</ul>
			{% endif %}
		{% endwith %}
		{% if form and form.errors %}
			<ul class="errors">
			{% for field_name, field_errors in form.errors|dictsort if field_errors %}
				{% for error in field_errors %}
					<li>{{ form[field_name].label }}: {{ error }}</li>
				{% endfor %}
			{% endfor %}
			</ul>
		{% endif %}
		</div>
		<div class="content">
			{% block content %}{% endblock %}
		</div>
	</body>
</html>